.header {
  color: #ffc107;
  font-weight: 700;
}
.btn-block {
  width: 49%;
  height: 38px;
}

.social-links__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: -20px;

}

.social-links__item {
  margin-left: 20px;
}

.link-svg {
  width: 25px;
  height: 25px;
  fill: $white;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}